<ion-content>
<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-card-title>Welcome to Bhilwara</ion-card-title>
      <ion-img src="/assets/slide-2.jpg"></ion-img>
      
     
</ion-card>
<ion-card>
            <ion-card-title>About Us</ion-card-title>
        <ion-card-content>
            Bhilwara Infotechnology Limited (BIL) is a part of the LNJ Bhilwara Group, 
            which is one of India’s largest business conglomerates with combined annual 
            revenues of 1.5 Billion. The LNJ Bhilwara Group has diverse interests in areas 
            such as Power Generation, Graphite Electrodes, Sponge Iron and Textiles.
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-card-header>
          <ion-card-title>Project1</ion-card-title>
        </ion-card-header>
         <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-card-header>
          <ion-card-title>Project2</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
  
  <ion-card>
        <ion-card-header>
          <ion-card-title>Project3</ion-card-title>
        </ion-card-header>
      <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
  </ion-card>