<ion-content>
<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
      <ion-img src="/assets/slide-2.jpg"></ion-img>
      
     
</ion-card>
<ion-card>
            <ion-card-title>About Us</ion-card-title>
        <ion-card-content>
            Bhilwara Infotechnology Limited (BIL) is a part of the LNJ Bhilwara Group, 
            which is one of India’s largest business conglomerates with combined annual 
            revenues of 1.5 Billion. The LNJ Bhilwara Group has diverse interests in areas 
            such as Power Generation, Graphite Electrodes, Sponge Iron and Textiles.
        </ion-card-content>
      </ion-card>
    </ion-content>
